.instagram-post {
    text-align: center;
    padding: 10px;
}

.instagram-post img,
.instagram-post video {
    border-radius: 10px;
}

.caption {
    font-size: 14px;
    margin-top: 5px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    /* Asegura que tenga suficiente altura */
}

.posts-container {
    display: flex;
    gap: 10px;
}

img,
video {
    width: 300px;
    height: 300px;
    object-fit: cover;
}