<main class="pt-5">
    <div class="container marketing pt-5">
        <div class="mt-4">
            <h1 class="text-center title uppercase"> Limpieza en Locales</h1>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-1 justify-content-center"></div>
            <div class="col-md-10 justify-content-center">
                <p class="lead">En nuestro servicio de limpieza en locales comerciales, nos especializamos en devolverle
                    la transparencia y el brillo a todo tipo de superficies acristaladas.
                    Nos encargamos de la limpieza de fachadas de vidrio, escaparates y cristales en altura, utilizando
                    herramientas profesionales como el mango telescópico, que nos
                    permite acceder con seguridad y eficacia a zonas elevadas sin dejar rastro de suciedad ni marcas.
                </p>
                <p class="lead">Sabemos que la imagen de tu local es clave para atraer a los clientes, por eso
                    trabajamos con productos de alta calidad que no solo limpian, sino que dejan un acabado impecable y
                    un agradable aroma a naranja en el ambiente. Gracias a nuestro producto exclusivo, tu negocio no
                    solo lucirá reluciente, sino que también ofrecerá una sensación de frescura y limpieza desde el
                    primer paso.
                <p class="lead">Confía en profesionales que cuidan cada detalle. Porque la primera impresión cuenta… y
                    los cristales hablan por ti.
                </p>
            </div>
            <div class="col-md-1 justify-content-center"></div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1 text-center">Fachadas y Rotulos<br></h2>
                <p class="lead">Ofrecemos un servicio especializado en limpieza de fachadas y rótulos, ya sean de
                    cristal, mármol o losa. Contamos con hidrolimpiadora profesional y mango telescópico con sistema de
                    agua que nos permite trabajar con seguridad hasta 10 metros de altura, sin necesidad de andamios.
                </p>
                <p class="lead">Eliminamos suciedad incrustada, restos de contaminación y también realizamos limpieza de
                    grafitis mediante productos específicos como ácido y la misma hidrolimpiadora, garantizando
                    resultados visibles y duraderos.
                </p>
                <p class="lead">Dale nueva vida a tu fachada y mejora la imagen de tu negocio con un servicio eficaz,
                    seguro y profesional.
                </p>
            </div>
            <div class="col-md-5">
                <img src="assets/imagenes/20250122_084508.jpg" alt="Fachadas y Rotulos"
                    class="featurette-image img-fluid mx-auto" width="350" height="350"
                    (click)="modal.abrirModal('assets/imagenes/20250122_084508.jpg', 'Fachadas y Rotulos')">
            </div>
        </div>
        <hr class=" featurette-divider">
        <div class="row featurette mt-4">
            <div class="col-md-7 ">
                <h2 class="featurette-heading fw-normal lh-1 text-center">Cristales<br></h2>
                <p class="lead">Mantenemos los cristales de tu local siempre limpios, transparentes y sin
                    marcas,
                    cuidando cada detalle para que tu negocio luzca impecable desde el exterior. Utilizamos
                    técnicas
                    profesionales y productos de alta calidad que no solo garantizan un brillo duradero, sino
                    que dejan
                    un sutil y fresco aroma a naranja en el ambiente, aportando una sensación extra de limpieza
                    y
                    bienestar.
                    Limpieza de Cristales en Casas y Chalets
                    Ofrecemos un servicio completo de limpieza de cristales en viviendas particulares, ideal
                    para casas
                    y chalets. Nos encargamos de la limpieza de ventanas, persianas, cerramientos y barandillas
                    de
                    cristal en terrazas, asegurando un acabado impecable y sin restos de polvo ni manchas.</p>
                <p class="lead">Contamos con equipos profesionales como el mango telescópico con sistema de
                    agua, que
                    nos permite llegar hasta 10 metros de altura de forma segura, ideal para limpiar cristales
                    en altura
                    y fachadas de losa sin necesidad de andamios. También utilizamos hidrolimpiadora para
                    eliminar
                    suciedad incrustada y devolver el aspecto original a las superficies exteriores.</p>
                <p class="lead">MLa solución perfecta para mantener tu hogar reluciente, con cristales que dejan
                    pasar
                    la luz y realzan cada espacio.</p>
            </div>
            <div class="col-md-5">
                <img src="assets/imagenes/20250122_084508.jpg" alt="Descripción de la imagen"
                    class="featurette-image img-fluid mx-auto" width="350" height="350"
                    (click)="modal.abrirModal('assets/imagenes/20250122_084508.jpg', 'Cristales')">
            </div>
        </div>
    </div>
</main>

<app-image-modal #modal></app-image-modal>