<!-- 
 <div class="barra-horizontal">

  <div class="logo">
    <img src="../assets/imagenes/logo_final.jpg" alt="Logo" width="100%">
  </div>

  <div class="d-flex">
    <a href="https://www.instagram.com/limpiacristales_capel/" target="_blank" rel="noopener noreferrer"
      class="redes"><img src="../assets/icons/instagram.svg" alt="Logo" width="300%">
    </a>
    <a href="https://www.instagram.com/nombre_de_usuario/" target="_blank" rel="noopener noreferrer" class="redes"><img
        src="../assets/icons/tiktok.svg" alt="Logo" width="300%">
    </a>
  </div>



  <button class="boton-derecha">Ponte en Contacto</button>
</div>
-->
<!-- Cabecera -->
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top cabecera" [ngClass]="{ 'header-black': scrolled }">
    <div class=" container-fluid d-flex justify-center align-items-center">
      <div class="d-flex justify-content-center flex-grow-1">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/imagenes/logoPNG.png" alt="Logo" width="80"
            class="d-flex justify-content-center align-items-center">
        </a>
      </div>
      <div class="d-flex justify-content-center flex-grow-1">
        <a routerLink="/contacto" class="btn btn-dark">Contacta</a>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="footer-container">
    <!-- Columna 1: Logo, Teléfono, Redes Sociales -->
    <div class="footer-column">
      <img src="../assets/imagenes/logo_600.webp" alt="Logo" class="footer-logo">
      <p class="footer-phone">Llámanos: +123 456 789</p>
      <div class="footer-socials">
        <a href="https://www.instagram.com/limpiacristales_capel/" target="_blank" rel="noopener noreferrer"><img
            src="../assets/icons/instagram.svg" alt="Logo" width="10%">
        </a>
        <a href="https://www.tiktok.com/@limpiacristales_capel" target="_blank" rel="noopener noreferrer"><img
            src="../assets/icons/tiktok.svg" alt="Logo" width="10%">
        </a>
        <a href="https://wa.me/123456789?text=Hola%2C%20%C2%BFpuedo%20ayudarte%3F" target="_blank"
          rel="noopener noreferrer">
          <img src=" ../assets/icons/whatsapp.svg" alt="Logo" width="10%">
        </a>

      </div>
    </div>

    <!-- Columna 2: Lista de Servicios -->
    <div class="footer-column">
      <h4>Servicios</h4>
      <ul>
        <li><a href="#">Limpieza de Viviendas Particulares</a></li>
        <li><a href="#">Limpieza de Edificios, Comunidades</a></li>
        <li><a href="#">Limpieza de Oficinas, Comercios y Escaparates</a></li>
      </ul>
    </div>

    <!-- Columna 3: Datos Personales -->
    <div class="footer-column">
      <h4>Datos Personales</h4>
      <p><strong>Nombre:</strong> Jose Capel</p>
      <p><strong>Correo:</strong> juan@example.com</p>
      <p><strong>Dirección:</strong> Calle Ficticia 123, Ciudad</p>
    </div>
    <div class="footer-column">
      <h4>Politicas</h4>
      <ul>
        <li><a routerLink="/politica-privacidad">Politica de Privacidad</a></li>
        <li><a routerLink="/politica-cookies">Politica de Cookies</a></li>
      </ul>
    </div>
  </div>
</footer>