<main>
    <div id="myCarousel" class="carousel slide mb-6 pt-6 h-100" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/imagenes/banner.jpg" class="d-block w-100" alt="Image 1">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Cristales impecables, vistas perfectas.</h1>
                        <p class=""> Rápido, eficiente y profesional.</p>
                        <p><a class="btn btn-lg btn-dark" href="#">Pide cita ahora</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/imagenes/Stock2.jpg" class="d-block w-100" alt="Image 2">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Dale brillo a tu hogar o negocio.</h1>
                        <p> Servicio de limpieza de cristales de calidad.</p>
                        <p><a class="btn btn-lg btn-dark" href="#">Llama que mis gatos tienen que come</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/imagenes/Stock3.jpg" class="d-block w-100" alt="Image 3">
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Más luz, más claridad, más limpieza.</h1>
                        <p>Confía en expertos en limpieza de cristales.</p>
                        <p><a class="btn btn-lg btn-dark" href="#">Solo juego al LOLILLO</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container marketing">
        <div class="mt-4">
            <h1 class="text-center title"> LIMPIEZA DE OFICINA</h1>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-1 justify-content-center"></div>
            <div class="col-md-10 justify-content-center">
                <h2 class="featurette-heading fw-normal lh-1">¡Cristales Impecables en un Instante!
                    <span class="text-body-secondary">La limpieza que tu hogar merece.</span>
                </h2>
                <p class="lead">Transforma tu espacio con un brillo inigualable. Deja que nuestros expertos en limpieza
                    de cristales se encarguen de cada rincón, ofreciendo resultados rápidos, eficaces y duraderos. ¡Te
                    sorprenderás con la diferencia!</p>
            </div>
            <div class="col-md-1 justify-content-center"></div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Cristales Impecables para tu Local Comercial<br>
                    <span class="text-body-secondary">Una imagen clara refleja tu profesionalismo.</span>
                </h2>
                <p class="lead">La limpieza de cristales en tu establecimiento es clave para mantener una imagen
                    profesional y acogedora. Nuestro equipo especializado garantiza un servicio eficiente, rápido y
                    seguro para que tu negocio luzca siempre en su mejor estado. ¡Haz que tu local brille con la
                    confianza de los expertos!</p>
            </div>
            <div class="col-md-5">
                <img src="../../../assets/imagenes/20250122_084508.jpg" alt="Descripción de la imagen"
                    class="featurette-image img-fluid mx-auto" width="350" height="350">
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
</main>