<main class="pt-5">
    <div class="container marketing pt-5">
        <div class="mt-4">
            <h1 class="text-center title"> LIMPIEZA EN OFICINA</h1>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-1 justify-content-center"></div>
            <div class="col-md-10 justify-content-center">
                <h2 class="featurette-heading fw-normal lh-1">¡Cristales Impecables en un Instante!
                    <span class="text-body-secondary">La limpieza que tu hogar merece.</span>
                </h2>
                <p class="lead">Transforma tu espacio con un brillo inigualable. Deja que nuestros expertos en limpieza
                    de cristales se encarguen de cada rincón, ofreciendo resultados rápidos, eficaces y duraderos. ¡Te
                    sorprenderás con la diferencia!</p>
            </div>
            <div class="col-md-1 justify-content-center"></div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Cristales Impecables para tu Local Comercial<br>
                    <span class="text-body-secondary">Una imagen clara refleja tu profesionalismo.</span>
                </h2>
                <p class="lead">La limpieza de cristales en tu establecimiento es clave para mantener una imagen
                    profesional y acogedora. Nuestro equipo especializado garantiza un servicio eficiente, rápido y
                    seguro para que tu negocio luzca siempre en su mejor estado. ¡Haz que tu local brille con la
                    confianza de los expertos!</p>
            </div>
            <div class="col-md-5">
                <img src="assets/imagenes/terraza.jpg" alt="Imagen_Terraza" class="featurette-image img-fluid mx-auto"
                    width="350" height="350" (click)="modal.abrirModal('assets/imagenes/terraza.jpg', 'Cristales')">
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
</main>

<app-image-modal #modal></app-image-modal>