<main class="pt-5">
    <div class="container marketing pt-5">
        <div class="mt-4">
            <h1 class="text-center title uppercase"> Limpieza de Cristales en Casas y Chalets</h1>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-1 justify-content-center"></div>
            <div class="col-md-10 justify-content-center">
                <p class="lead">Ofrecemos un servicio completo de limpieza de cristales en viviendas particulares, ideal
                    para casas y chalets. Nos encargamos de la limpieza de ventanas, persianas, cerramientos y
                    barandillas de cristal en terrazas, asegurando un acabado impecable y sin restos de polvo ni
                    manchas.
                </p>
                <p class="lead">Contamos con equipos profesionales como el mango telescópico con sistema de agua, que
                    nos permite llegar hasta 10 metros de altura de forma segura, ideal para limpiar cristales en altura
                    y fachadas de losa sin necesidad de andamios. También utilizamos hidrolimpiadora para eliminar
                    suciedad incrustada y devolver el aspecto original a las superficies exteriores.
                <p class="lead">La solución perfecta para mantener tu hogar reluciente, con cristales que dejan pasar la
                    luz y realzan cada espacio.
                </p>
            </div>
            <div class="col-md-1 justify-content-center"></div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 ">
                <h2 class="featurette-heading fw-normal lh-1 text-center">Limpieza de Cristales y Terrazas<br></h2>
                <p class="lead">Nos especializamos en la limpieza de cristales y persianas en viviendas, asegurando un
                    resultado brillante y sin marcas. También cuidamos cada detalle en terrazas con barandillas y
                    cerramientos de cristal, devolviendo la transparencia y limpieza a cada superficie. Utilizamos
                    herramientas profesionales que garantizan un acabado impecable, incluso en zonas de difícil acceso.
                </p>
            </div>
            <div class="col-md-5">
                <img src="assets/imagenes/20250122_084508.jpg" alt="Limpieza de Cristales y Terrazas"
                    class="featurette-image img-fluid mx-auto" width="350" height="350"
                    (click)="modal.abrirModal('assets/imagenes/20250122_084508.jpg', 'Descripción de la imagen')">
            </div>
        </div>
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1 text-center">Limpieza Exterior en Chalets<br></h2>
                <p class="lead">Ofrecemos un servicio especializado en la limpieza de cristales y fachadas exteriores en
                    chalets. Gracias a nuestro equipo profesional, que incluye mango telescópico con sistema de agua de
                    hasta 10 metros de alcance y hidrolimpiadora de alta presión, eliminamos eficazmente la suciedad en
                    ventanas altas, cerramientos y fachadas de losa, devolviendo a tu vivienda su mejor aspecto sin
                    dañar las superficies.
                </p>
            </div>
            <div class="col-md-5">
                <img src="assets/imagenes/20250122_084508.jpg" alt="Limpieza Exterior en Chalets"
                    class="featurette-image img-fluid mx-auto" width="350" height="350"
                    (click)="modal.abrirModal('assets/imagenes/20250122_084508.jpg', 'Descripción de la imagen')">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="video-container">

            <video autoplay loop width="380" height="260">
                <source src="assets/video/video-stock.mp4" type="video/mp4" />
                Tu navegador no soporta el video.
            </video>
            <video autoplay loop width="380" height="260">
                <source src="assets/video/video-stock.mp4" type="video/mp4" />
                Tu navegador no soporta el video.
            </video>

            <video autoplay loop width="380" height="260">
                <source src="assets/video/video-stock.mp4" type="video/mp4" />
                Tu navegador no soporta el video.
            </video>
        </div>
    </div>
</main>

<app-image-modal #modal></app-image-modal>